.button {
  background-color: #e96eba;
  padding: 10px;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  margin: 15px;
}

button:hover {
  background-color: #83deff;
  border: #000000;
}

.button-chalange {
  background-color: #e96eba;
  padding: 10px;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  margin: 15px;
}

.button-exercice {
  background-color: #e96eba;
  padding: 10px;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  margin: 50px;
  margin-left: 360px;
}
