.button {
  background-color: #e96eba;
  padding: 10px;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  margin: 15px;
  font-family: "Rubik", sans-serif;
}

button:hover {
  background-color: #cecece;
  border-color: transparent;
  color: #000000;
}

.button-chalange {
  background-color: #e96eba;
  padding: 10px;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  margin-top: 15px;
  font-family: "Rubik", sans-serif;
}

.button-exercice {
  background-color: #e96eba;
  padding: 10px;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  margin: 50px;
  margin-left: 390px;
  font-family: "Rubik", sans-serif;
}

.button-end {
  background-color: #e96eba;
  padding: 10px;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  margin: 15px;
  margin-left: 80px;
  margin-top: 120px;
  font-family: "Rubik", sans-serif;
}

.button-sign {
  background-color: #e96eba;
  padding: 10px;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  margin: 15px;
  margin-left: 160px;
}

.button-help {
  background-color: #e96eba;
  padding: 10px;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  margin: 15px;
  margin-right: 80px;
  font-family: "Rubik", sans-serif;
}

.button-delet {
  color: #e96eba;
  margin-top: 65px;
  font-family: "Rubik", sans-serif;
}

.button-delet:hover {
  color: #cecece;
}
