.level {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  font-family: "Rubik", sans-serif;
}

.level-button {
  margin: 15px;
  border: none;
}
