/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  padding-top: 40px;
}

a {
  color: inherit;
}

body {
  background-image: url(/src/scss/img/background\ nuage.png);
  background-size: cover;
  background-repeat: no-repeat;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h2 {
  margin-bottom: 25px;
}

h3 {
  padding-top: 25px;
  padding-bottom: 20px;
}

.footer {
  display: flex;
  text-align: center;
  padding-left: 400px;
}

.code8 {
  margin: 25px;
  margin-left: 100px;
}

footer {
  margin-top: 1000px;
  margin-bottom: 60px;
}
/* ====================================
// base rules
// ==================================== */
